<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/edf7fb9c-01ec-462d-a667-5e75fecaa888/resourceGroups/MIS333K/providers/Microsoft.Web/sites/meghnakundur</ResourceId>
    <ResourceGroup>MIS333K</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://meghnakundur.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://meghnakundur.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$meghnakundur</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>